{% extends 'base.html' %}

{% block content%}
<h1>{{title}}</h1>

<p>Stylish me — ежемесячный журнал о моде, основанный в 1939 году в США и имеющий версии в разных странах.
<br>Первый номер вышел в США в 1939 году. Прекратил выпуск в бумаге с 2019 года, но продолжает существовать в электронном виде.
В России первый выпуск «Stylish me» вышел в сентябре 2004 года.
<br>Аудитория журнала — женщины 19–43 лет, средний возраст — 33 года. В США количество читателей составляет 2,4 миллиона человек. Мировая аудитория «Glamour» — 12 миллионов человек в месяц.
<br>
    <br>2024 Condé Nast. все права защищены. Stylish me может получать часть продаж от продуктов, которые приобретаются через наш сайт в рамках наших партнерских партнерских отношений с розничными торговцами. Материалы на этом сайте не могут быть воспроизведены, распространены, переданы, кэшированы или иным образом использованы, кроме как с предварительного письменного разрешения Condé Nast</p>
{% endblock %}