{% extends 'base.html' %}

{% block content%}
<h1>{{title}}</h1>

<p>«Для того чтобы быть незаменимой, нужно всегда быть разной» — Коко Шанель (дизайнер).
    <br>«Мода проходит, стиль вечен» — Ив Сен-Лоран (дизайнер).
    <br>«В маленьком черном платье невозможно выглядеть чересчур шикарно или слишком скромно» — Карл Лагерфельд (дизайнер).
    <br>«Кто сказал, что счастье не купишь за деньги, не знал, где делать покупки» — Бо Дерек (актриса).
    <br>«Элегантность — это единственная мода, которая не проходит» — Одри Хепберн (актриса).</p>
{% comment %}
    #<img src="{% static 'img/ee28f8e04327e67cb59c4c2f20e2b8c1.jpg' %}" alt="Karl Lagerfeld">#
{% endcomment %}

<img src="https://i.pinimg.com/736x/ee/28/f8/ee28f8e04327e67cb59c4c2f20e2b8c1.jpg" alt="Карл Лагерфельд (дизайнер)" class="centered-alt">

{% endblock %}