{% extends 'base.html' %}

{% block content%}
<h1>{{title}}</h1>

<p>
<h2 style="color: #778899;">20 главных трендов весны и лета 2024:</h2>

<br>Буйство красок сменилось на лаконичные и базовые сочетания, бесформенный оверсайз превратился в облегающие платья и подчеркнутую ремнем одежду, нарочитая сексуальность обрела в весенне-летнем сезоне 2024 новое прочтение: бельевой стиль стал сдержанным и многослойным. Недели моды в Нью-Йорке, Лондоне, Милане и Париже задали тренды грядущего сезона, которые отличаются от классического представления гардероба — теперь в нем все больше женственности, элегантности и простоты.
<br>
<br>Дизайнеры продолжили вдохновляться разными модными эпохами: это и 60-е, и 80-е, и 90-е, и, конечно, нулевые, без которых сегодня сложно представить образы современной девушки. Но главное, на что делали акцент бренды в весенне-летнем сезоне — женственность и все ее проявления. На какие тренды обратить внимание уже сейчас — рассказываем в материале.
<br>
<br><img src="https://n1s1.hsmedia.ru/30/ef/f2/30eff2d9979c555ded04b0b26e95f780/728x542_1_d9266898c1d6ecbb766e1a566aa5474d@1200x894_0x09z6lR43_4611974712188705817.jpg" alt="Оскар" class="centered-alt">
<br><a href="https://www.marieclaire.ru/moda/20-glavnykh-trendov-vesny-i-leta-2024-samyi-polnyi-gid/?ysclid=lu8a7kjnet461312344">Смотреть первоисточник</a>

<h2 style="color: #778899;">Все образы с красной дорожки церемонии вручения премии "Оскар" в 2024 году </h2>
<br>За последние несколько лет критики изменили свое отношение к главной премии в мире кино, пророча ей скорый конец. Повлияли на это и новые стандарты Академии, принятые в отношении фильмов 2023 года: теперь каждая работа, чтобы быть номинированной на «Оскар», должна соответствовать определенным требованиям, начиная от глубины темы и заканчивая составом съемочной группы. Тем не менее, критики и зрители продолжают наблюдать за итогами церемонии вручения, хотя на этот раз они оказались вполне очевидными.
<br>
<br><img src="https://www.grazia.ru/upload/img_cache/3b6/3b6628b7dc55c088aed7a52c6b6e2925_ce_2240x1493x0x1_cropped_666x444.jpg" alt="Оскар" class="centered-alt">
<br><a href="https://translated.turbopages.org/entertainment/looks-2024-oscars-red-carpet-201508965.html">Смотреть первоисточник</a>

</p>
{% endblock %}